@using DMX.Portal.Web.Views.Bases

<DialogBase @ref=Dialog
            Title="Lab Details"
            ButtonTitle="Save New Lab"
            MinHeight="335px"
            Width="350px"
            OnClick=@AddLabViewAsync>

    <Content>
        <div>
            <ContainerBase @ref=LabIdContainer
                           CssClass="new-lab-textbox">

                <TextBoxBase @ref=LabId
                             @bind-Value="@labIdString"
                             Placeholder=@nameof(LabView.Id)
                             IsDisabled=true />

            </ContainerBase>

            <ContainerBase @ref=LabDmxVersionContainer
                           CssClass="new-lab-textbox">

                <TextBoxBase @ref=LabDmxVersion
                             @bind-Value="@LabView.DmxVersion"
                             Placeholder=@nameof(LabView.DmxVersion)
                             IsDisabled=true />

            </ContainerBase>

            <ContainerBase @ref=LabNameContainer
                           CssClass="new-lab-textbox">

                <TextBoxBase @ref=LabName
                             @bind-Value="@LabView.Name"
                             Placeholder=@nameof(LabView.Name) />

                <ValidationSummaryBase @ref=LabNameValidationSummary
                                       Key=@nameof(LabView.Name)
                                       ValidationData=@Exception?.Data
                                       Color="Red" />

            </ContainerBase>

            <ContainerBase @ref=LabDescriptionContainer
                           CssClass="new-lab-textbox-bottom">

                <TextBoxBase @ref=LabDescription
                             @bind-Value="@LabView.Description"
                             Placeholder=@nameof(LabView.Description)
                             Multiline=true />

                <ValidationSummaryBase @ref=LabDescriptionValidationSummary
                                       Key=@nameof(LabView.Description)
                                       ValidationData=@Exception?.Data
                                       Color="Red" />

            </ContainerBase>
            <LabelBase @ref="@DependencyErrorMessageLabel"
                       Text="@ErrorMessage"
                       ClassName="new-lab-error-message" />

            <SpinnerBase @ref=Spinner />
        </div>
    </Content>
</DialogBase>